/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* Set background image for the body */
body {
  background-image: url('istockphoto-1125958849-1024x1024.jpg');
  /* Specify the path to your poker table image */
  background-size: cover;
  /* Cover the entire background */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  font-family: Arial, sans-serif;
  /* Set a fallback font family */
}

/* Menu Screen styles */
#menu-screen {
  text-align: center;
  padding-top: 50px;
}

#start {
  margin-top: 20px;
}

#start button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#start button:hover {
  background-color: #0056b3;
}

/* Game Screen styles */
#game-screen {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 550px;
  /* Adjust the width as needed */
  margin: 0 auto;
  /* Center the cards horizontally */
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 150px;
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#game div.flipped {
  transform: rotateY(180deg);
}

/* Scores styles */
#current-score,
#lowest-score,
#restart {
  text-align: center;
  margin-top: 20px;
}